<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.branchapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
        android:screenOrientation="landscape"
        android:label="@string/app_name" />
        <activity android:name=".HomeActivityStudent" >
        </activity>
        <activity android:name=".HomeActivityTeacher" >
        </activity>
        <activity android:name=".StudentDetailActivity" >
        </activity>
        <activity android:name=".QrCodeActivity" >
        </activity>
    </application>

</manifest>